body{
	font-family: Verdana;
	font-size: 20px;
	line-height: 35px;
}

h1 {
	color: #666666;
	font-size: 50px;
	text-align: center;
	margin-top: 45px;
	margin-bottom: 30px;
	letter-spacing: -1px;
}

.first_part {
	display:block;
}

.second_part{
	display:block;
}

.left_part{
	width: 40%;
	float:left;
	padding: 15px 15px 0 15px;
}

.picture {
	
	width:500;
	height:600;
	margin: 10px 10px 20px 20px;
}

.features {
	font-size:20px;
	color: #666666;
	border: 1px solid #CCCCCC;	
	padding: 20px 0 20px 30px;
	line-height: 28px;
	margin: 30px 240px 20px 20px ;

	}

h3 {
	color:#f07c17;
	font-weight: bold;
}

h2 {
	font-size: 30px;
	color:#f07c17;
	margin-top:55px;
	margin-bottom:20px;
	display: block;	
}

.text {
	color: #666666;
	font-size: 20px;
	
	line-height: 30px;
	
}

.right_part{
	padding:0 95px 0 100px;
	margin: 0 76px 0 0px;
	display:block;
}